* {
  font-size: 8px;
  font-family: 'Times New Roman';
}

td,
th,
tr,
table {
  border-top: 1px solid black;
  border-collapse: collapse;
}

td.producto,
th.producto {
  width: 60px;
  max-width: 60px;
}

td.cantidad,
th.cantidad {
  width: 20px;
  max-width: 20px;
  word-break: break-all;
}

td.precio,
th.precio {
  width: 20px;
  max-width: 20px;
  word-break: break-all;
}

.centrado {
  text-align: center;
  align-content: center;
}

.ticket {
  width: 155px;
  max-width: 155px;
    margin-left: 20px
}

img {
  max-width: inherit;
  width: inherit;
}

@media print{
  .oculto-impresion, .oculto-impresion *{
    display: none !important;
  }
}
input{
    width: 30px;
    max-width: 20px;
   
}